#page-layout[data-page="about"] {
  .audio-player {
    @extend %full-gradient-animated;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}

@media (max-width: 886px) {
  #page-layout[data-page="about"] {
    .team {
      margin-top: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      gap: 0;

      .team-member {
        + .team-member {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 2px solid var(--text-color);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #page-layout[data-page="about"] {
    .team {
      gap: 4rem;

      .team-member {
        + .team-member {
          margin-top: 0;
          padding-top: 0;
          border-top: none;
        }
      }
    }
  }
}
