#page-layout[data-page="notfound"] {
  --color-depth-1: #090101;
  --color-depth-2: #150202;
  --color-depth-3: #491E0F;
  --color-depth-4: #6C321E;
  --color-depth-5: #753823;
  --color-depth-6: #A85432;
  --color-depth-7: #BC5C36;
  --color-depth-8: #D67540;
  --color-depth-9: #EA934C;
  --color-depth-10: #FFE67D;

  --text-color: var(--color-depth-3);

  background: radial-gradient(var(--color-depth-10) 0%, var(--color-depth-9) 55%);

  #page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }

  #page-header,
  #page-header > .inner {
    background: none;
    border-color: transparent;
  }

  #page-footer,
  #page-footer > .inner {
    background: var(--color-depth-1);
    border-color: var(--color-depth-1);

    color: var(--color-depth-8);

    a {
      color: var(--color-depth-9);
    }
  }

  #page-content {
    margin: 0;
    padding: 0;
  }

  .svg-wrapper {
    padding-top: 0;
    height: calc(100%);
    width: calc(100%);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    .text {
      position: absolute;
      top: 6rem;

      font-size: 1.5rem;
      max-width: 450px;
      margin: 0 2rem;
      text-align: center;

      h1 {
        margin-bottom: 1rem;
      }
    }

    .attribution {
      position: absolute;
      bottom: calc(1vw*16/9);
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      font-size: .5rem;

      &,
      & a {
        color: var(--color-depth-6);
      }
    }

    svg {
      margin: -2px;
      display: block;

      .depth-1 {
        fill: var(--color-depth-1)
      }

      .depth-2 {
        fill: var(--color-depth-2)
      }

      .depth-3 {
        fill: var(--color-depth-3)
      }

      .depth-4 {
        fill: var(--color-depth-4)
      }

      .depth-5 {
        fill: var(--color-depth-5)
      }

      .depth-6 {
        fill: var(--color-depth-6)
      }

      .depth-7 {
        fill: var(--color-depth-7)
      }

      .depth-8 {
        fill: var(--color-depth-8)
      }

      .depth-9 {
        fill: var(--color-depth-9)
      }

      .depth-10 {
        fill: var(--color-depth-10)
      }
    }
  }
}

@media (max-width: 1024px) {
  #page-layout[data-page="notfound"] {
    .svg-wrapper {
      padding-top: 5rem;
    }
  }
}

@media (max-width: 840px) {
  #page-layout[data-page="notfound"] {
    .svg-wrapper {
      padding-top: 7.5rem;
    }
  }
}

@media (max-width: 650px) {
  #page-layout[data-page="notfound"] {
    .svg-wrapper {

      .text {
        position: static;
      }
    }
  }
}
