#page-layout[data-page="podcast"] {
  .icon-items {
    display: flex;
    width: auto;
    margin: 2rem auto 0;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  #page-layout[data-page="podcast"] {
    .icon-items {
      width: 10rem;
    }
  }
}
