:root {
  --episode-thumbnail-season-size: 18px;
  --episode-thumbnail-number-size: 125px;
  --episode-thumbnail-title-size: 33px;
}

.episode-card {
  --card-grid-rows: min-content 1fr;

  p + p {
    margin-top: 1rem;
  }
  
  .audio-player {
    margin: 2rem 0 0;
  }

  .content {
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100%;
  }
}

.episode-thumbnail {
  border-radius: 10px;
  padding: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  aspect-ratio: 1;

  .season {
    font-size: var(--episode-thumbnail-season-size);
    line-height: 1;
    opacity: .5;
  }

  .number {
    @extend %typography-heading;
    @extend %zebra;
    font-size: var(--episode-thumbnail-number-size);
    line-height: 1;
    -webkit-text-stroke-width: 3px;
    padding-bottom: 7px;
  }

  .text {
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    font-size: var(--episode-thumbnail-title-size);
    line-height: 1.15;
  }
}

@media (max-width: 1150px) {
  :root {
    --episode-thumbnail-season-size: 14px;
    --episode-thumbnail-number-size: 98px;
    --episode-thumbnail-title-size: 25px;
  }
}
