.card {
  --card-max-width: 1200px;
  --card-grid-columns: var(--card-thumbnail-size) 1fr;
  --card-grid-rows: auto auto;
  --card-grid-areas: 'thumbnail title' 'thumbnail content';
  --card-grid-gap: 0 2rem;
  --card-thumbnail-size: 350px;
  --card-thumbnail-number-size: 10rem;

  max-width: var(--card-max-width);
  margin-left: auto;
  margin-right: auto;

  + .card {
    margin-top: 2rem;
  }

  > .inner {
    margin: -1rem;
    padding: 1rem;

    border: solid 3px transparent;
    border-radius: .5rem;
  
    display: grid;
    grid-template-columns: var(--card-grid-columns);
    grid-template-rows: var(--card-grid-rows);
    grid-template-areas: var(--card-grid-areas);;
    align-items: center;
    gap: var(--card-grid-gap);

    transition: border-color ease .5s;

    > .thumbnail {
      grid-area: thumbnail;
      border-radius: .5rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      max-width: var(--card-thumbnail-size);
      width: 100%;
      aspect-ratio: 1;
      justify-self: center;

      cursor: default;
      user-select: none;

      .number {
        @extend %typography-heading;
        @extend %zebra;
        font-size: var(--card-thumbnail-number-size);
        -webkit-text-stroke-width: 3px;
      }
    }

    > .title {
      grid-area: title;
      align-self: flex-end;
    }

    > .content {
      grid-area: content;
      align-self: flex-start;
    }
  }

  &:hover {
    > .inner {
      border-color: var(--text-color);
    }
  }
}

@media (max-width: 1150px) {
  .card {
    --card-thumbnail-size: 275px;
    --card-thumbnail-number-size: 7rem;
  }
}

@media (max-width: 1000px) {
  .card {
    --card-max-width: 800px;
    --card-grid-columns: 1fr;
    --card-grid-rows: auto auto auto;
    --card-grid-areas: 'thumbnail' 'title' 'content';
    --card-thumbnail-size: 300px;

    .thumbnail {
      margin-bottom: 2rem;
    }
  }
}
