:root {
  --card-max-width: 1200px;
  --card-grid-columns: var(--card-thumbnail-size) 1fr;
  --card-grid-rows: auto auto;
  --card-grid-areas: 'thumbnail title' 'thumbnail content';
  --card-grid-gap: 0 2rem;
  --card-thumbnail-size: 350px;
}

.card {
  max-width: var(--card-max-width);
  margin-left: auto;
  margin-right: auto;

  + .card {
    margin-top: 2rem;
  }

  > .inner {
    margin: 0;
    padding: 1rem;

    border: solid 3px transparent;
    border-radius: .5rem;

    display: grid;
    grid-template-columns: var(--card-grid-columns);
    grid-template-rows: var(--card-grid-rows);
    grid-template-areas: var(--card-grid-areas);;
    align-items: center;
    gap: var(--card-grid-gap);

    transition: border-color ease .5s;

    > .thumbnail {
      grid-area: thumbnail;

      max-width: var(--card-thumbnail-size);
      width: 100%;
      justify-self: center;

      cursor: default;
      user-select: none;
    }

    > .title {
      grid-area: title;
      align-self: flex-end;
    }

    > .content {
      grid-area: content;
      align-self: flex-start;
    }
  }

  &.bordered {
    > .inner {
      border-color: var(--text-color);
    }
  }
}

@media (max-width: 1350px) {
  :root {
    --card-max-width: 1000px;
  }
}

@media (max-width: 1150px) {
  :root {
    --card-max-width: 800px;
    --card-thumbnail-size: 275px;
  }
}

@media (max-width: 1000px) {
  :root {
    --card-max-width: 100%;
    --card-grid-columns: 1fr;
    --card-grid-rows: auto auto auto;
    --card-grid-areas: 'thumbnail' 'title' 'content';
  }

  .card {
    .thumbnail {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 420px) {
  :root {
    --card-thumbnail-size: 225px;
  }
}
