.episode-card {
  --card-grid-rows: min-content 1fr;

  p + p {
    margin-top: 1rem;
  }
  
  .audio-player {
    margin-top: 2rem;
  }

  .content {
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100%;
  }
}

.episode-thumbnail {
  --episode-thumbnail-number-size: 6em;
  --episode-thumbnail-title-size: 1.75em;

  border-radius: .5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  aspect-ratio: 1;

  .season {
    font-size: .85rem;
    line-height: 1;
    opacity: .5;
  }

  .number {
    @extend %typography-heading;
    @extend %zebra;
    font-size: var(--episode-thumbnail-number-size);
    line-height: 1;
    -webkit-text-stroke-width: 3px;
    padding-bottom: .5rem;
  }

  .text {
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    font-size: var(--episode-thumbnail-title-size);
    line-height: 1.15;
  }
}

@media (max-width: 1350px) {
  :root {
    --card-max-width: 1000px;
  }
}

@media (max-width: 1150px) {
  :root {
    --episode-thumbnail-number-size: 5em;
    --episode-thumbnail-title-size: 1.25em;
  }
}
