#page-content {
  margin: 5rem 0;

  &:empty {
    margin: 2rem 0;
  }
}

section {
  padding-left: 2rem;
  padding-right: 2rem;

  + section {
    margin-top: 5rem;
  }
}

article {
  + article {
    margin-top: 3rem;
  }
}

.container {
  max-width: 800px;

  margin-left: auto;
  margin-right: auto;
}

%p {
  + %p {
    margin-top: 2rem;
  }

  + h3 {
    margin-top: 2rem;
  }
}

p, ul {
  @extend %p;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

ul.list {
  list-style: square;
  margin-left: 2rem;

  li {
    padding-left: .5rem;

    + li {
      margin-top: .5rem;
    }
  }
}
