$transition-time: .5s;
$transition-ease: cubic-bezier(0.65, 0, 0.076, 1);

#page-header {
  --header-font-size: 1rem;
  --header-logo-width: 220px;
  --header-menu-width: 380px;
  --header-menu-item-padding-y: .125rem;
  --header-menu-item-height: calc(1rem + var(--header-menu-item-padding-y) * 2);
  --header-menu-height: 1rem;

  min-height: 65vh;
  
  transition: min-height $transition-time $transition-ease;

  > .inner {
    transition: background-color ease-out 1s, padding $transition-time $transition-ease;

    > .container {
      position: relative;
      font-size: var(--header-font-size);

      transition: margin $transition-time $transition-ease;
    }
  }

  .logo {
    position: absolute;
    width: var(--header-logo-width);
    gap: 1rem;
    left: 50%;
    top: calc(50% - var(--header-menu-height) / 2 - 1rem);
    transform: translateX(-50%) translateY(-50%);

    transition: width $transition-time $transition-ease, height $transition-time $transition-ease, gap $transition-time $transition-ease, left $transition-time $transition-ease, right $transition-time $transition-ease, top $transition-time $transition-ease, transform $transition-time $transition-ease;

    .text {
      height: 1em;

      transition: font-size $transition-time $transition-ease, height $transition-time $transition-ease;

      span {
        position: relative;
        top: 0;
        left: 0;

        transition: top $transition-time $transition-ease;
      }
    }
  }

  #main-menu {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: var(--header-menu-width);
    height: var(--header-menu-height);

    transition: width $transition-time $transition-ease, height $transition-time $transition-ease, font-size $transition-time $transition-ease, right $transition-time $transition-ease, bottom $transition-time $transition-ease, transform $transition-time $transition-ease;

    .item {
      position: absolute;
      width: 31%;
      height: var(--header-menu-item-height);
      padding: var(--header-menu-item-padding-y) 0;

      &,
      .link {
        position: absolute;
        line-height: 1;

        transition: width $transition-time $transition-ease, left $transition-time $transition-ease, right $transition-time $transition-ease, top $transition-time $transition-ease, transform $transition-time $transition-ease;
      }

      &:nth-child(1) {
        right: 100%;
        transform: translateX(100%);

        .link {
          right: 0;
          transform: translateX(0);
        }
      }

      &:nth-child(2) {
        right: 50%;
        transform: translateX(50%);

        .link {
          right: 50%;
          transform: translateX(50%);
        }
      }

      &:nth-child(3) {
        right: 0;
        transform: translateX(0);

        .link {
          right: 100%;
          transform: translateX(100%);
        }
      }
    }
  }

  &.collapsed {
    --header-logo-width: 100px;
    --header-menu-width: 500px;

    min-height: calc(1rem + (var(--header-logo-width) * 0.59) + 1rem);

    > .inner {
      padding-top: 1rem;
    }

    .logo {
      --logo-font-size: 15px;
      gap: 0;
      left: 0;
      top: 0;
      transform: translateX(0);

      .text {
        height: 0;

        span {
          top: -100%;
        }
      }
    }

    #main-menu {
      right: 0;
      transform: translateX(0);
    }
  }
}

@media (max-width: 800px) {
  #page-header {
    &.collapsed {
      --header-menu-width: calc(100% - var(--header-logo-width) - 2rem);
    }
  }
}

@media (max-width: 575px) {
  #page-header {
    &.collapsed {
      --header-font-size: 14px;
      --header-menu-width: 220px;
    }
  }
}

@media (max-width: 420px) {
  #page-header {
    &.collapsed {
      --header-menu-width: 80px;
      --header-menu-height: calc(3rem + .75rem);

      #main-menu {
        bottom: 50%;
        right: 0;
        transform: translateY(50%);

        .item {
          width: 100%;
          right: 50%;
          transform: translateX(50%);
          top: 0;
    
          &:nth-child(1) {
            transform: translateX(50%) translateY(0);
          }
    
          &:nth-child(2) {
            transform: translateX(50%) translateY(100%);
          }
    
          &:nth-child(3) {
            transform: translateX(50%) translateY(200%);
          }

          .link {
            right: 0;
            transform: translateX(0);
          }
        }
      }
    }
  }
}

@media (max-height: 567px) {
  #page-header {
    min-height: 100vh;
  }
}
