html,
body,
#app,
#page-layout {
    height: 100%;
}

#page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

#page-header,
#page-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @extend %full-gradient-animated;

    --border-style: solid 3px var(--text-color);
    --xxxxer-max-width: 1200px;

    > .inner {
      padding: 2rem 0 1rem;

      > .container {
        height: 100%;
        display: grid;
        gap: 2rem 0;
        max-width: var(--xxxxer-max-width);
        margin: 0 auto;
      }
    }
}

#page-header {
  border-bottom: var(--border-style);

  > .inner {
    background-color: $body-color;

    > .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr min-content;
      align-items: center;
    }
  }

  &:hover {
    > .inner {
        background-color: transparent;
    }
  }

  .logo {
    justify-self: center;
  }
}

#page-footer {
    border-top: var(--border-style);
    
    > .inner {
      > .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
      }
    }

    .legal-links {
        display: flex;
        gap: .25rem 1rem;
        justify-content: center;
        font-size: 0.65rem;
        text-transform: uppercase;
        padding: 0;

         a {
            @extend %link;
            font-weight: var(--font-weight-text);
            
            &::after {
                height: 2px;
            }
        }
    }
}

#main-menu {
    display: flex;
    justify-content: space-between;
    gap: 0 1em;
    max-width: 100%;

    .link {
      @extend %typography-heading;
      @extend %link;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;

      &::after {
        bottom: -4px;
      }
    }
}

@media (max-width: 1350px) {
  #page-header,
  #page-footer {
    --xxxxer-max-width: 1000px;
  }
}

@media (max-width: 1150px) {
  #page-header,
  #page-footer {
    --xxxxer-max-width: 800px;
  }
}

@media (max-width: 860px) {
  #page-header,
  #page-footer {
    --xxxxer-max-width: calc(100% - 2rem);
  }
}

@media (max-width: 600px) {
  #page-footer {
    text-align: center;

    .legal-links {
      flex-direction: column;
    }
  }
}
