@for $i from 1 through 6 {
  $x: 24.6%*$i;
  @keyframes zebra-movement-#{$i} {
    0%   {background-position: calc(8rem + #{$x}) 0;}
    100% {background-position: $x 0;}
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 220px;
  aspect-ratio: 1.75;

  cursor: default;
  user-select: none;

  > .text {
    width: 100%;
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-logo);
    font-size: 1.6rem;
    line-height: 1;
    letter-spacing: .022em;
    text-align: center;
    overflow: hidden;

    span {
      display: block;
      line-height: inherit;
      font-size: inherit;
    }
  }

  > .bars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    > .bar {
      border: solid 2px var(--text-color);
      display: block;
      width: 9.09%;
      height: 100%;
      background-color: var(--body-color);
      background-image: url(@/assets/cebra.svg);
      background-size: 8rem;

      animation-play-state: paused !important;

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          background-position: 24.6%*$i;
          animation: zebra-movement-#{$i} 12s linear infinite;
        }
      }
    }
  }

  @at-root #page-header:hover & {
    > .bars {
      > .bar {
        background-color: transparent;
        animation-play-state: running !important;
      }
    }
  }
}
