.team {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin-top: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  gap: 2rem;

  .avatar {
    width: 250px;
    max-width: 100%;
    border-radius: 1rem;
    transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .15s;
  }

  .name {
    text-transform: uppercase;
  }

  &:hover {
    .avatar {
      transform: scale(1.1);
    }
  }
}
@media (max-width: 886px) {
  .team {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;

    .team-member {
      + .team-member {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 2px solid var(--text-color);
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 886px) {
  .team-member {
    display: grid;
    grid-template-areas: 'avatar name' 'avatar content';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;

    .name {
      grid-area: name;
      margin: 0;
    }

    .avatar {
      align-self: flex-start;
      width: 100%;
      grid-area: avatar;
    }

    .name {
      grid-area: name;
    }

    .content {
      grid-area: content;
    }
  }
}

@media (max-width: 600px) {
  .team {
    gap: 4rem;

    .team-member {
      + .team-member {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
    }
  }
}
