.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  gap: 2rem;

  .avatar {
    width: 250px;
    max-width: 100%;
    border-radius: .5rem;
    transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .15s;
  }

  .name {
    text-transform: uppercase;
  }

  &:hover {
    .avatar {
      transform: scale(1.1);
    }
  }
}

@media (min-width: 601px) and (max-width: 886px) {
  .team-member {
    display: grid;
    grid-template-areas: 'avatar name' 'avatar content';
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;

    .name {
      grid-area: name;
      margin: 0;
    }

    .avatar {
      align-self: flex-start;
      width: 100%;
      grid-area: avatar;
    }

    .name {
      grid-area: name;
    }

    .content {
      grid-area: content;
    }
  }
}
