.c-tooltip {
  position: relative;
  line-height: 1;
  padding: 0;
  margin: 0;

  .message {
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--text-color);
    color: var(--body-color);
    font-size: .7rem;
    font-weight: normal;
    padding: .125rem .33rem;
    display: block;
    white-space: nowrap;
    border-radius: .5rem;
    opacity: 0;
    pointer-events: none;

    transition: opacity cubic-bezier(0.215, 0.610, 0.355, 1) .25s, bottom cubic-bezier(0.215, 0.610, 0.355, 1) .25s;
  }

  &:hover {
    .message {
      opacity: 1;
      bottom: 100%;
    }
  }
}
