$text-color: #262629;
$body-color: #ffffff;

$color-orange: #FFC69F;
$color-red: #EFACA8;
$color-pink: #E8A3C3;
$color-purple: #CFAEFF;
$color-blue: #A2BAF4;
$color-cyan: #85DDDD;
$color-teal: #9ACCA2;
$color-green: #BFC47C;
$color-yellow: #EDD983;

@function build-gradient($from, $to) {
    @return linear-gradient(
        60deg,
        $from 15%,
        $to 100%
    );
}

$full-gradient: linear-gradient(
    111deg,
    var(--color-orange) 11.11%,
    var(--color-red) 22.22%,
    var(--color-pink) 33.33%,
    var(--color-purple) 44.44%,
    var(--color-blue) 55.55%,
    var(--color-cyan) 66.66%,
    var(--color-teal) 77.77%,
    var(--color-green) 88.88%,
    var(--color-yellow) 99.99%,
);

:root {
    --text-color: #{$text-color};
    --body-color: #{$body-color};

    --color-orange: #{$color-orange};
    --color-red: #{$color-red};
    --color-pink: #{$color-pink};
    --color-purple: #{$color-purple};
    --color-blue: #{$color-blue};
    --color-cyan: #{$color-cyan};
    --color-teal: #{$color-teal};
    --color-green: #{$color-green};
    --color-yellow: #{$color-yellow};
    
    --full-gradient: #{$full-gradient};

    --gradient-1: #{build-gradient(var(--color-orange), var(--color-pink))};
    --gradient-2: #{build-gradient(var(--color-red), var(--color-purple))};
    --gradient-3: #{build-gradient(var(--color-pink), var(--color-blue))};
    --gradient-4: #{build-gradient(var(--color-purple), var(--color-cyan))};
    --gradient-5: #{build-gradient(var(--color-blue), var(--color-teal))};
    --gradient-6: #{build-gradient(var(--color-cyan), var(--color-green))};
    --gradient-7: #{build-gradient(var(--color-teal), var(--color-yellow))};
    --gradient-8: #{build-gradient(var(--color-green), var(--color-orange))};
    --gradient-9: #{build-gradient(var(--color-yellow), var(--color-red))};
}
