.audio-player {
  width: 100%;
  background: var(--gradient-1);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: min-content min-content 1fr min-content;
  grid-template-rows: min-content;
  grid-template-areas: 'play current progress total';
  align-items: center;
  gap: 1rem;
  padding: .5rem 1rem;
  font-size: .75rem;
  margin: 2rem 0;

  .play {
    grid-area: play;
    font-size: 1.5em;
    display: flex;
    gap: .5rem;

    > button {
      background: none;
      padding: 0;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;

      &.disabled {
        cursor: default;
        opacity: .5;
      }
    }
  }

  .time {
    @extend %typography-mono;
  }

  .current-time {
    grid-area: current;
  }

  .total-time {
    grid-area: total;
  }

  .progress-bar {
    grid-area: progress;
  }
}
