.button {
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  background-image: var(--gradient-1);
  background-size: 200% 100%;
  background-position: 0 0;
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;

  transition: background-position cubic-bezier(0.215, 0.610, 0.355, 1) 1s;

  &:hover {
    background-position: 100% 0;
  }

  &.neutral {
    background-image: var(--gradient-gray);
  }
}
