.contact-channels {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 235px;

    .c-icon {
      font-size: 3rem;
    }

    &:nth-child(1) {
      .button {
        background-image: var(--gradient-1);
      }
    }

    &:nth-child(2) {
      .button {
        background-image: var(--gradient-7);
      }
    }

    &:nth-child(3) {
      .button {
        background-image: var(--gradient-4);
      }
    }
  }
}
